:root {
  --background: #fff5ec;
  --foreground: #402e32;
}



html,
body {
  max-width: 100vw;
  scroll-padding-top: 80px;
  color-scheme: light; /* Force light mode */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sanchez), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--font-kameron), serif;
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-averia), serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


