:root {
  --background: #fff5ec;
  --foreground: #402e32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #402e32;
    --foreground: #fff5ec;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sanchez), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--font-kameron), serif;
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-averia), serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
